{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": { "chrome": 117 }
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-private-methods"]
}
